<table>
    <tbody>
      <tr>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(7)">7</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(8)">8</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(9)">9</button></td>
        <td><button type="button" class="btn btn-primary btn-block" (click)="handleSymbol('/')">/</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(4)">4</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(5)">5</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(6)">6</button></td>
        <td><button type="button" class="btn btn-primary btn-block" (click)="handleSymbol('*')">*</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(1)">1</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(2)">2</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(3)">3</button></td>
        <td><button type="button" class="btn btn-primary btn-block" (click)="handleSymbol('-')">-</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary btn-block" (click)="handleSymbol('.')">.</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleFigure(0)">0</button></td>
        <td><button type="button" class="btn btn-primary" (click)="handleSymbol('=')">=</button></td>
        <td><button type="button" class="btn btn-primary btn-block" (click)="handleSymbol('+')">+</button></td>
      </tr>
    </tbody>
  </table>
