<table>
  <tbody>
    <tr>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleSymbol()">1</button></td>
    </tr>
    <tr>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleSymbol()">1</button></td>
    </tr>
    <tr>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleSymbol()">1</button></td>
    </tr>
    <tr>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleFigure()">1</button></td>
      <td><button (click)="handleSymbol()">1</button></td>
    </tr>
  </tbody>
</table>