<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular samples</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="btn btn-light m-1" uiSref="calculator" uiSrefActive="active">Calculator</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-light m-1" uiSref="heroes" uiSrefActive="active">Heroes</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-light m-1" uiSref="beers" uiSrefActive="active">Beers</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-light m-1" uiSref="apod" uiSrefActive="active">Apod</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-light m-1" uiSref="form" uiSrefActive="active">Form</a>
      </li>
    </ul>
  </div>
</nav>
<!--The content below is only a placeholder and can be replaced.-->
<ui-view></ui-view>