<div class="container">
  <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>

  <h1>Por flexbox:</h1>

  <div class="container-fluid" style="display:flex; flex-wrap: wrap;  justify-content: space-around;  align-items: center;
  ">
    <div *ngFor="let beer of result">
      <div *ngIf="beer.abv >= value && beer.abv <= highValue" class="card"
        style="background-color:cadetblue; border-color:darkblue;width: 300px">
        <img class="card-img-top" [src]="beer.image_url" style="width: 75px" alt="">
        <div class="card-body">
          <h2 class="card-title" style="color:white">{{beer.name}}</h2>
          <h4 style="color: white">{{beer.abv | alcohol}}</h4>
          <p class="card-text" style="color:white">{{beer.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <h1>Por Bootstrap</h1>

  <div class="row">
    <div [class]="getClass(beer)" *ngFor="let beer of result; let i=index">
      <div *ngIf="beer.abv >= value && beer.abv <= highValue" class="card"
        style="background-color:cadetblue; border-color:darkblue;">
        <img class="card-img-top" [src]="beer.image_url" style="width: 75px" alt="">
        <div class="card-body">
          <h2 class="card-title" style="color:white">{{beer.name}}</h2>
          <h4 style="color: white">{{beer.abv | alcohol}}</h4>
          <p class="card-text" style="color:white">{{beer.description}}</p>
        </div>
      </div>
    </div>
  </div>


</div>

<p>
  {{result | json}}
</p>