<div class="form-group">
  <label for="">Hero name</label>
  <input #nameInput [(ngModel)]="newHeroName" (keyup)="isEmpty(nameInput.value)" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
  <small id="helpId" class="form-text text-muted">You should put a hero name here</small>
  <label for="">Hero description</label>
  <input #descriptionInput type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">You should put a hero description here</small>
   <h2><ngb-rating [(rate)]="currentRate"></ngb-rating></h2> 
  <br>
  <button [disabled]="!showButton" type="button" [class]="classButton" (click)="addHero(nameInput, descriptionInput)">Add hero</button>
</div>